.infobox{
    display: flex;
    gap: 10px;
}

#chartContainer{
    margin-top: 25px;
}



.navbar{
    height: 100px;
    display: flex;
    justify-content: space-between;
    &>img{
        height: 100%;
    }
    font-size: 30px;
    font-weight: 900;
}